
body {
  overflow: hidden;
  padding: 0;
  margin: 0;
  font-family: 'Pacifico', cursive;
}

@mixin positionElemenent {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: all linear 100ms;

}

.container {
  min-height: 100vh;
  padding: 0;
  background-color: #fbc5d5;
}

.logo {
  position: absolute;
  width: 490px;
  height: 140px;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all linear 100ms;

  @media only screen and (max-width: 600px) {
    width: 250px;
    height: auto;
  }

  img {
    width: 100%;
  }
}

.cloud {
  position: absolute;
  width: 1000px;
  height: 650px;
  opacity: 0;
  background-size: 1006px 649px;
  @include positionElemenent;

  @media only screen and (max-width: 600px) {
    width: 100%;
    height: auto;
  }

  &.add {
    opacity: 1;
  }

  .cloud_wrap {
    position: relative;
    height: 100%;
  }

  img {
    width: 100%;
    height: auto;
  }

  .cloud_description {
    opacity: 0;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 55%;
    text-align: center;
    font-size: 40px;

    @media only screen and (max-width: 968px) {
      font-size: 18px;
    }

    &.add {
      opacity: 1;
      animation-duration: 2s;
      animation-timing-function: ease-out;
      animation-name: visible;
      animation-iteration-count: 1;
    }
  }

}

.btn-group {
  position: absolute;
  bottom: -10px;
  left: 50%;
  transition: all linear 100ms;
  opacity: 0;
  display: flex;
  transform: translate(-50%, -50%);

  @media only screen and (max-width: 968px) {
    flex-direction: column;
    width: 100%;
  }

  &.add {
    opacity: 1;
    animation-duration: 200ms;
    animation-timing-function: ease;
    animation-name: btn;
    animation-iteration-count: 1;
    transition-delay: 1s;
    animation-delay: 1s;
    bottom: 20px;

    @media only screen and (max-width: 968px) {
      bottom: 10px;
    }
  }
}

.btn {
  font-family: 'Pacifico', cursive;
  width: 542px;
  height: 112px;
  background: none;
  border: none;
  cursor: pointer;
  position: relative;
  margin: 0 15px;
  line-height: 40px;

  &:hover {
    opacity: 0.8;
  }

  @media only screen and (max-width: 600px) {
    width: 60%;
    height: auto;
    margin: 0 auto;
    line-height: 20px;
  }

  img {
    @media only screen and (max-width: 600px) {
      width: 100%;
      margin-top: 5px;
    }
  }
  
  .title {
    opacity: 0;
    font-size: 33px;
    position: absolute;
    @include positionElemenent;

    @media only screen and (max-width: 600px) {
      font-size: 16px;
    }

    &.add {
      opacity: 1;
      animation-duration: 200ms;
      animation-timing-function: ease-out;
      animation-name: btn;
      animation-iteration-count: 1;
      transition-delay: 1.5s;
      animation-delay: 1.5s;
    }
  }
}

.btn.red {
  @media only screen and (max-width: 600px) {
    margin-bottom: 15px;
  }
}

@keyframes visible {
  0%
  {
    opacity: 0;
  }

  30%
  {
    opacity: 0;
  }

  100%
  {
    opacity: 1;
  }

}

@keyframes btn {
  0%
  {
    opacity: 0;
  }

  100%
  {
    opacity: 1;
  }

}